// breakpoints
$grid-breakpoints: (
    xxs: 360px,
    xs: 481px,
    smminus:767px,
    sm: 768px,
    smplus: 769px,
    mdminus: 991px,
    md: 992px,
    lg: 1025px,
    xlminus: 1199px,
    xl: 1200px
); 

// fonts
$font-weight: (
    light: 300,
    regular: 400,
    medium: 500,
    bold: 700,
    heavy: 900
);

$fonts: (
    main: ("Runda",sans-serif),
    heading: ('Kreon', sans-serif),
    content: ('ProximaNova', sans-serif),
    icomoon: ('icomoon'),
    fontawesome: ('Fontawesome')
);

$font-main: fonts(main);
$font-heading: fonts(heading);
$font-icomoon: fonts(icomoon);
$font-fontawesome: fonts(fontawesome);

$fontweight-light: fontWeight(light);
$fontweight-regular: fontWeight(regular);
$fontweight-medium: fontWeight(medium);
$fontweight-bold: fontWeight(bold);
$fontweight-heavy: fontWeight(heavy);

$fz-root: 62.5%; // root font-size, DO NOT CHANGE
$gutter: 2rem;
$gutter-xs: 1.5rem;
$gutter-md: 2rem;

// colors
$colors: (
    c-white: #fff,
    c-white-blur: #f5f6f7,
    c-blue: #0089ce,
    c-dark-blue: #003b59,
    c-dark-blue-navy: #00052e,
    c-pink: #ff566b,
    c-black: #000000,
    c-yellow: #f8b62d,
    c-gray: #e5ebee,
    c-gray-1: #ddd,
    c-pink-light: #EBCCD1,
    c-red: #A94442,
    c-gray-2: #fcfcfc,
    c-gray-3: #f5f5f5,
    c-gray-4: #d5d5d5,
    c-6e: #6e6e6e,
    c-39: #393939,
    c-violet: #3c213a,
    c-violet-2: rgba(60,33,58,.85),
    c-violet-3: rgba(60,33,58,.7),
    c-violet-4: #3C213A,
    c-violet-5: #9F579E,
    c-black-opacity: rgba(0,0,0,.5),
    c-black-opacity-1: rgba(0,0,0,.75),
    
    c-brown: #3C213A,
);
// // main-colors:
$bg-color-primary: color(c-gray-2);
$bg-color-primary-white: color(c-white);
$bg-color-primary-pink: color(c-pink);
$bg-color-black: color(c-black);
$bg-color-white-blur: color(c-white-blur);
$border-color-gray: color(c-gray);
$border-color-blue: color(c-blue);
$bg-color-gray-3: color(c-gray-3);
$bg-color-gray-4: color(c-gray-4);
$bg-color-violet: color(c-violet);
$bg-color-violet-2: color(c-violet-2);
$bg-color-violet-3: color(c-violet-3);


$border-color-brow: color(c-brown);


$text-color-primary: color(c-dark-blue);
$text-color-secondary: color(c-white);
$text-color-black: color(c-black);
$text-color-blue: color(c-blue);
$text-color-gray-blur: color(c-gray-blur);
$text-color-6e: color(c-6e);
$text-color-39: color(c-39);
$text-color-violet-4: color(c-violet-4);
$text-color-violet-5: color(c-violet-5);

$text-color-brow: color(c-brown);


$page-border-radius: .3rem;
$btn-bg-color-primary: color(c-yellow);

$btn-text-color-primary: color(c-dark-blue-navy);

$header-border-color: color(c-gray);

$border-line-solid: 0.1rem solid rgba(0, 59, 89, 0.15);