section.introduction_2
    .container
        .content
            .content-left.wow.fadeInLeft(data-wow-duration="1s" data-wow-delay="0.5s")
                .title
                    p.title-first We are
                    p.title-second problem solvers
                .content-detail
                    p Adaptis crafts engaging end-to-end digital solutions that aim to solve real problems. We are a collective of problem solvers and creative thinkers. Engineers and analysts. 
                    p Some clients call us a digital agency, others see us as a development partner. We just see it as investing in our people to work alongside the most demanding of clients. Welcome to Adaptis, a global technical agency with locations in Australia, Switzerland, South East Asia, and Vietnam.
            .content-right.wow.fadeInRight(data-wow-duration="1s" data-wow-delay="0.5s")
                .image
                    img(src="../../../assets/images/bgd-solvers.png", alt="image")
                    a.btn-adaptis-black(href="#") LET'S TALK