section.slider-section
    .single-item
        .slider-items.slider-items-1
            .slider-text
                p.title Success Story 
                p.subject Kempinski Hotels S.A.
                p.text Kempinski manages and operates some of the world’s most iconic hotels, with a portfolio of five-star hotels and residences across the globe, Adaptis leads the digital revolution for the hotel group.
                a.link.btn-adaptis(href="#") VIEW THE WORK
        .slider-items.slider-items-2
            .slider-text
                p.title Success Story 
                p.subject Johnnie Walker
                p.text The most widely distributed blended Scotch Whisky in the world
                a.link.btn-adaptis(href="#") VIEW THE WORK
        .slider-items.slider-items-3
            .slider-text
                p.title Success Story 
                p.subject Burberry
                p.text Careers reinvented at this luxury fashion brand
                a.link.btn-adaptis(href="#") VIEW THE WORK
        
