section.highlight_block
    div.container
        div.content
            p View our work for Vicostone Quartz.  Customize your new quartz stone through the online visualiser and learn about new trends in home improvements.
            a.btn-adaptis(href="#") VIEW THE WORK