section.solution-section
    .decor
    .container
        .solution-content
            .content-inner-1
                span.title-first Providing
                span.title-second digital solutions
            .content-inner-2
                p Helping companies to become more digitally connected is one of our specialities. From design thinking to machine learning, we start with a holistic approach that combines core values with the value of technology solutions. 
                p The result, clients have a much deeper grasp on their company’s purpose and are better prepared to maintain consistency in the connected age.
        .solution-items
            .row
                .col-xs-12.col-sm-4
                    .items-inner.items-inner-1.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="0.5s")
                        p User Experience 
                        p Design
                        .text
                            p UX
                            P UI
                .col-xs-12.col-sm-4
                    .items-inner.items-inner-2.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="1s")
                        p Development 
                        p & Delivery
                .col-xs-12.col-sm-4
                    .items-inner.items-inner-3.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="1.5s")
                        p Agency
                        p Partnership
        .solution-title
            p.title-first To support 
            span.title-second global companies
