section.introduction_1.wow.slideInRight(data-wow-duration="2s" data-wow-delay=".5s")
    .container
        .content
            .title
                p.title-first We develop
                p.title-second mission critical applications
            .content-detail
                p.highlight_1 Delivering results
                p.highlight_2 Delivering solutions
                p.normal Our core teams change and evolve to suit your needs, working in alignment and on point. We adapt to the scope you provide crafting custom solutions to exceed all your wildest expectations.
                a.btn-adaptis-black(href="#") LET'S TALK