section.clients-section
    .container 
        .clients-content
            .details.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="0.5s")
                a(href="#")
                    img(src="../../../assets/images/hp_client_1.png", alt="client")
            .details.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="0.7s")
                a(href="#")
                    img(src="../../../assets/images/hp_client_2.png", alt="client")
            .details.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="0.9s")
                a(href="#")
                    img(src="../../../assets/images/hp_client_3.png", alt="client")
            .details.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="1.1s")
                a(href="#")
                    img(src="../../../assets/images/hp_client_4.png", alt="client")
            .details.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="1.3s")
                a(href="#")
                    img(src="../../../assets/images/hp_client_5.png", alt="client")
            .details.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="1.5s")
                a(href="#")
                    img(src="../../../assets/images/hp_client_6.png", alt="client")
            .details.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="1.7s")
                a(href="#")
                    img(src="../../../assets/images/hp_client_7.png", alt="client")
            .details.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="1.9s")
                a(href="#")
                    img(src="../../../assets/images/hp_client_8.png", alt="client")
            .details.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="2.1s")
                a(href="#")
                    img(src="../../../assets/images/hp_client_9.png", alt="client")
            .details.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="2.3s")
                a(href="#")
                    img(src="../../../assets/images/hp_client_10.png", alt="client")
        
