.part1_contact
    .title_contact
        span Every project
        span.larger Starts with a conversation
    .content_contact
        p We’re always looking to meet and work with companies that have forwarded thinking views. Our team is a mixed bunch of strategists, designers, developers, analysts, with passionate and all-round nice people.
    .form_contact
        form
            .form_input
                label First name*
                input.firstname(type='text', name='firstname', required)
            .form_input
                label Last name*
                input.firstname(type='text' name='lastname', required)
            .form_input
                label Email address*
                input.firstname(type='email' name='email', required)
            .form_input
                label Company
                input.firstname(type='text' name='company')
            .form_input
                label Phone number
                input.firstname(type='text' name='phone')
            .form_button
                a(href="thanks")
                    button SUBMIT