section.a-thework
  .container.box-thework
    .a-section-title
      span.thework-title The work
      span.thinking Transformational thinking
    p.content-thework For over a decade we've helped ambitious companies re-imagine customer experiences and create new models for growth.
    .row.thework-items
      .col-xs-6.col-sm-6.col-md-4.col-item
        a.link-item.snake(href="#")
          img.img-thework(src=("../assets/images/h1-thework.png"), alt="Kempinski")
          .item-box
            p.nationalBrand
              span Kempinski
              span hotels
            p.content-item-box A global luxury hotel group located in Geneva
          .overlay
      .col-xs-6.col-sm-6.col-md-4.col-item
        a.link-item.snake(href="#")
          img.img-thework(src=("../assets/images/h2-thework.png"), alt="Adib Bank")
          .item-box
            p.nationalBrand 
              span Adib
              span Bank
            p.content-item-box An Islamic bank based in Abu Dhabi
          .overlay
      .col-xs-6.col-sm-6.col-md-4.col-item
        a.link-item.snake(href="#")
          img.img-thework(src=("../assets/images/h3-thework.png"), alt="Vicostone Quartz")
          .item-box
            p.nationalBrand 
              span Vicostone
              span Quartz
            p.content-item-box Engineered quartz stone, manufactured and based in Vietnam
          .overlay
      .col-xs-6.col-sm-6.col-md-4.col-item
        a.link-item.snake(href="#")
          img.img-thework(src=("../assets/images/h4-thework.png"), alt="Buberry careers")
          .item-box
            p.nationalBrand 
              span Buberry
              span careers
            p.content-item-box Careers reinvented at this luxury fashion brand
          .overlay
      .col-xs-6.col-sm-6.col-md-4.col-item
        a.link-item.snake(href="#")
          img.img-thework(src=("../assets/images/h5-thework.jpg"), alt="Hsh Group")
          .item-box
            p.nationalBrand 
              span Hsh
              span Group
            p.content-item-box The owner and operator of the The Peninsula brand as well as other strategic assets
          .overlay
      .col-xs-6.col-sm-6.col-md-4.col-item
        a.link-item.snake(href="#")
          img.img-thework(src=("../assets/images/h6-thework.jpg"), alt="Suez water")
          .item-box
            p.nationalBrand 
              span Suez
              span water
            p.content-item-box Learn and action water conservation
          .overlay
      .col-xs-6.col-sm-6.col-md-4.col-item
        a.link-item.snake(href="#")
          img.img-thework(src=("../assets/images/h7-thework.png"), alt="Johnnie Walker")
          .item-box
            p.nationalBrand 
              span Johnnie
              span Walker
            p.content-item-box The most widely distributed blended Scotch Whisky in the world
          .overlay
      .col-xs-6.col-sm-6.col-md-4.col-item
        a.link-item.snake(href="#")
          img.img-thework(src=("../assets/images/h8-thework.jpg"), alt="Toyota Hong kong")
          .item-box
              p.nationalBrand 
                span Toyota
                span Hong kong
              p.content-item-box The offical Toyota Hong Kong website
          .overlay
      .col-xs-6.col-sm-6.col-md-4.col-item
        a.link-item.snake(href="#")
          img.img-thework(src=("../assets/images/h9-thework.jpg"), alt="Singapore insitute of technology")
          .item-box
            p.nationalBrand 
              span Singapore
              span insitute of technology
            p.content-item-box Established in 2009, SIT is Singapore's first university of applied learning.
          .overlay
      .col-xs-6.col-sm-6.col-md-4.col-item
        a.link-item.snake(href="#")
          img.img-thework(src=("../assets/images/h10-thework.jpg"), alt="Fiji Investment")
          .item-box
            p.nationalBrand 
              span Fiji
              span Investment
            p.content-item-box The Fiji Islands Trade and Investment Bureau
          .overlay
      .col-xs-6.col-sm-6.col-md-4.col-item
        a.link-item.snake(href="#")
          img.img-thework(src=("../assets/images/h11-thework.jpg"), alt="Korn Ferry")
          .item-box
            p.nationalBrand 
              span Korn
              span Ferry
            p.content-item-box A global leader in HR Consulting‎
          .overlay
      .col-xs-6.col-sm-6.col-md-4.col-item
        a.link-item.snake(href="#")
          img.img-thework(src=("../assets/images/h12-thework.jpg"), alt="Bidv Bank")
          .item-box
            p.nationalBrand 
              span Bidv
              span Bank
            p.content-item-box Vietnam's largest state-owned bank
          .overlay