section.relative_block
    .container
        .content
            .row
                .col-sm-4.col-xs-12
                    .content-details.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="0.5s")
                        .image.image-1
                            a(href="#")
                                p.special DOWNLOAD NOW!
                        p.title 
                            a(href="#") 2018 Digital Credentials
                        p.text Register now to download our credentials in PDF format. The selected projects will provide a range of our experience in delivering global solutions.
                        a.link(href="#") SEND TO ME
                .col-sm-4.col-xs-12
                    .content-details.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="1s")
                        .image.image-2
                            a.room(href="#")
                                p WORK WITH THE BEST!
                        p.title 
                            a(href="#") Careers
                        p.text Collaborate with other passionate people, like yourself, who enthusiastically seek out new challenges and continuous learning to create bigger, better and bolder experiences.
                        a.link(href="#") APPLY NOW
                .col-sm-4.col-xs-12
                    .content-details.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="1.5s")
                        .image.image-3
                            a.room(href="#")
                                p GET IN TOUCH!
                        p.title 
                            a(href="#") Contact Us
                        p.text Have a project you want to discuss? Just looking for someone to speak with. Get in touch now and we’ll be sure to find the right person to speak with.
                        a.link(href="#") LETS TALK