extends ../layouts/master.pug

block title
  title Contact | Adaptis

block content
    .theContactPage
    include ../components/contact/contact.pug
    include ../components/relative_block/relative_block.pug