extends ../layouts/master.pug

block title
  title UX and Development Agency | Adaptis

block content
    .theAgencyPage
    include ../components/agency/agency.pug
    include ../components/clients/clients.pug
    //- include ../components/hightlight/hightlight
    //- include ../components/highlight/highlight.pug
    include ../components/relative_block/relative_block.pug