section.introduction_3.wow.slideInRight(data-wow-duration="2s" data-wow-delay="1s")
    .container-special
        .content
            .background-image
                img(src="../../../assets/images/adaptis-jw-bgd.jpg", alt="image")
            .content-details
                p.subtitle Success Story
                p.title Johnnie Walker CRM Program
                p.text As apart of launching Johnnie Walkers CRM program, we built a personalisation studio that allows you to customise a Johnnie Walker Wiskey.
                a.btn-adaptis-black(href="#") VIEW THE WORK
        .ballon-bgd
            img(src="../../../assets/images/adaptis-jw-ballon.png", alt="ballon")