.part1
    .opacity_part1
       p.wow.bounceInDown(data-wow-duration="1.5s").title_head A global agency
section.part2
    .container-fluid.child1
        .children1.wow.bounceInLeft(data-wow-duration="1.5s")
            p We develop on
            p.plat CMS Platforms
    .child2
        .col-lg-4.col-md-4.col-sm-4.col-xs-12.first 
            img.wow.bounceInUp(data-wow-duration="1.5s")(src='https://adaptis.io/img/adaptis-cms-umbraco.png') 
        .col-lg-4.col-md-4.col-sm-4.col-xs-12.second
            img.wow.bounceInUp(data-wow-duration="1.5s" data-wow-delay=".5s")(src='https://adaptis.io/img/adaptis-cms-sitecore.png')
        .col-lg-4.col-md-4.col-sm-4.col-xs-12.third
            img.wow.bounceInUp(data-wow-duration="1.5s" data-wow-delay="1s")(src='https://adaptis.io/img/adaptis-cms-acquia.png')
    .container-fluid.child3
        .children3.wow.bounceInLeft(data-wow-duration="1.5s")
            p Adapting to
            p.larger Cultures and requirement
    .child4
        .row
            .col-lg-3.col-md-3.col-sm-3.col-xs-6
                .child4-items
                    img.wow.bounceInLeft(data-wow-duration="1.5s")(src='https://adaptis.io/img/adaptis-culture-1.png')
            .col-lg-3.col-md-3.col-sm-3.col-xs-6
                .child4-items
                    img.wow.bounceInLeft(data-wow-duration="1.5s" data-wow-delay=".5s")(src='https://adaptis.io/img/adaptis-culture-2.png')
            .col-lg-3.col-md-3.col-sm-3.col-xs-6
                .child4-items
                    img.wow.bounceInLeft(data-wow-duration="1.5s" data-wow-delay="1s")(src='https://adaptis.io/img/adaptis-culture-3.png')
            .col-lg-3.col-md-3.col-sm-3.col-xs-6
                .child4-items
                    img.wow.bounceInLeft(data-wow-duration="1.5s" data-wow-delay="1.5s")(src='https://adaptis.io/img/adaptis-culture-4.png')
    .container-fluid.child1
        .children1.wow.bounceInLeft(data-wow-duration="1.5s")
            p Invested in
            p.plat Our people
    .child6
        img(src='https://adaptis.io/img/adaptis-our-ppl.png')
    .container-fluid.child7
        .children7_1
            .children_title.wow.bounceInLeft(data-wow-duration="1.5s")
                span Crafting
                span.larger Creative ideas
            .children_content.wow.bounceInRight(data-wow-duration="1.5s")
                p Creative ideas can come from anywhere, anytime. Acting on the best ideas is hard. Working across multiple geographies our team is in a better position to help your organization reveal, validate and nurture ideas that create competitive advantage, meaningful connections and new value for your stakeholders. 
                p At Adaptis we are a company of thinkers and makers – expert technologists mirrored with experienced business strategists to ensure brilliant execution.
        .children7_2
            .children_title.wow.bounceInLeft(data-wow-duration="1.5s")
                span Delivering
                span.larger Technology solutions
            .children_content.wow.bounceInRight(data-wow-duration="1.5s")
                p Since our foundation we have worked at the forefront of digital technology. Our teams has been tapped by some of the largest tech companies to build products and solutions that no else can. We focus on the small details because that’s often where the magic is. 
                p At every stage, we will work with you to deliver highly scalable and expertly designed architectures to ensure your product is maintainable and usable as your business grows.
    .container-fluid.child8
        .children8.wow.bounceInLeft(data-wow-duration="1.5s")
            p To drive results for
            p.larger global companies
        
