section.relative
    .container.box-relative
        .row.list-relative
            .col-.col-sx-12.col-sm-4.col-md-4.col-lg-4.content-relative
                
                .item-relative
                    a.link-imgs(href='#')
                        img.img-relative(src=("../../../assets/images/credentials.jpg"), alt="Digital Credentials")
                        .item-text-center Download now!
                    a.titile-relative 2018 Digital Credentials
                    p.content-item Register now to download our credentials in PDF format. The selected projects will provide a range of our experience in delivering global solutions.
                    a.directional(href="#") send to me
            .col-.col-sx-12.col-sm-4.col-md-4.col-lg-4.content-relative
               
                .item-relative
                    a.link-imgs(href='#')
                        img.img-relative(src=("../../../assets/images/careers.jpg"),alt="careers")
                        .item-text-center Work with the best!
                    a.titile-relative(href="#") Careers
                    p.content-item Collaborate with other passionate people, like yourself, who enthusiastically seek out new challenges and continuous learning to create bigger, better and bolder experiences.
                    a.directional(href="#") apply now

            .col-.col-sx-12.col-sm-4.col-md-4.col-lg-4.content-relative
                
                .item-relative
                    a.link-imgs(href='#')
                        img.img-relative(src=("../../../assets/images/contact.png"),alt="contactus")
                        .item-text-center Get in touch!
                    a.titile-relative(href="#") Contact Us
                    p.content-item Have a project you want to discuss? Just looking for someone to speak with. Get in touch now and we’ll be sure to find the right person to speak with.
                    a.directional(href="#") lets talk 