header
    div.header-general#js-navbar-fixed
        div.logo
            a(href="homepage") ADAPTIS
        div.main-menu
            nav
                ul
                    li.menu-item.current
                        a(href="homepage")  ADAPTIS
                    li.menu-item#the_work
                        a(href="the_work")  THE WORK
                    li.menu-item#the_agency
                        a(href="the_agency") THE AGENCY
                    li.menu-item
                        a(href="careers") CAREERS
                    li.menu-item#contact
                        a(href="contact") CONTACT US
            button.hamburger 
                div.hamburger-box
                    div.hamburger-inner

    input#sdfStartWorkingHour(type="hidden", value="09:00", name="sdfStartWorkingHour")
    input#sdfStopWorkingHour(type="hidden", value="20:00", name="sdfStopWorkingHour")
    input#emailRegexFormMsg(type="hidden", value="We require a valid email addressabc")
    input#requiredFormMsg(type="hidden", value="Please fill in this fieldabc")