section.the_work_section
    .container
        .content
            .row
                //ROW 1
                .col-md-4.col-sm-6.col-xs-6
                    .content-details
                        a(href="#")
                            .image
                                img(src="../../../assets/images/adaptis-tw-kem.png", alt="image")
                            .overlay
                            .content-inner
                                .title
                                    span KEMPINSKI
                                    span HOTELS
                                .text A global luxury hotel group located in Geneva
                .col-md-4.col-sm-6.col-xs-6
                    .content-details
                        a(href="#")
                            .image
                                img(src="../../../assets/images/adaptis-tw-bank.png", alt="image")
                            .overlay
                            .content-inner
                                .title
                                    span ADIB
                                    span BANK
                                .text An Islamic bank based in Abu Dhabi
                .col-md-4.col-sm-6.col-xs-6
                    .content-details
                        a(href="#")
                            .image
                                img(src="../../../assets/images/adaptis-tw-vic.png", alt="image")
                            .overlay
                            .content-inner
                                .title
                                    span VICOSTONE
                                    span QUARTZ
                                .text Engineered quartz stone, manufactured and based in Vietnam
                // ROW 2
                .col-md-4.col-sm-6.col-xs-6
                    .content-details
                        a(href="#")
                            .image
                                img(src="../../../assets/images/adaptis-tw-burberry.png", alt="image")
                            .overlay
                            .content-inner
                                .title
                                    span BUBERRY
                                    span CAREERS
                                .text Careers reinvented at this luxury fashion brand
                .col-md-4.col-sm-6.col-xs-6
                    .content-details
                        a(href="#")
                            .image
                                img(src="../../../assets/images/adaptis-tw-hsh.jpg", alt="image")
                            .overlay
                            .content-inner
                                .title
                                    span HSH
                                    span GROUP
                                .text The owner and operator of the The Peninsula brand as well as other strategic assets
                .col-md-4.col-sm-6.col-xs-6
                    .content-details
                        a(href="#")
                            .image
                                img(src="../../../assets/images/adaptis-tw-suez.jpg", alt="image")
                            .overlay
                            .content-inner
                                .title
                                    span SUEZ
                                    span WATER
                                .text Learn and action water conservation

